services:
  backend:
    image: aamir7867/ai-task-manager-backend:${IMAGE_TAG}
    container_name: backend
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/tasks
      - REDIS_HOST=redis
    depends_on:
      - db
      - redis

  frontend:
    image: aamir7867/ai-task-manager-frontend:${IMAGE_TAG}
    container_name: frontend
    depends_on:
      - backend

  nginx:
    build: ./nginx          
    container_name: nginx
    ports:
      - "80:80"
    depends_on:
      - frontend

  db:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: tasks
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:latest
    container_name: redis

volumes:
  postgres_data:
